#nav_left {
  text-align: center;
  float: left;
  width: 42%;
  border: 2px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 35px;
}

img[src="images/the_muffin_man.png"] {
  margin: 0;
  position: absolute;
}

#nav_right {
  text-align: center;
  float: right;
  width: 42%;
  border: 2px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 35px;
}

nav a {
  margin: 20px;
  display: inline-block;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: blue;
}

a:active {
  color: blue;
}

#maincolumn {
  float: left;
  width: 75%;
  border: 2px solid black;
  margin: 5px;
  padding: 20px;
  font-size: 20px;
  margin-top: 0;
}
