@import url(https://fonts.googleapis.com/css?family=Chewy);
@import url(https://fonts.googleapis.com/css?family=Limelight);

#nav_left {
  text-align: center;
  border: 2px solid #AFD2F1;
  font-size: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #F7A9CF;
  font-family: Limelight;
}

img[src="images/the_muffin_man.png"] {
  position: static;
}

#nav_right {
  text-align: center;
  border: 2px solid #AFD2F1;
  font-size: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #F7A9CF;
  font-family: Limelight;
}

nav a {
  display: inline-block;
  margin: 20px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: #AFD2F1;
}

a:active {
  color: #AFD2F1;
}

body {
  background-color: #FFFCAF;
}

#MOW {
  border: 2px solid black;
  padding: 10px;
}

#Strawberry {
  border: 2px solid black;
  padding: 10px;
}

#Blueberry {
  border: 2px solid black;
  padding: 10px;
  margin-top: 10px;
}

#About_full {
  border: 2px solid black;
  padding: 10px;
}

h2 {
  font-family: Limelight;
}
